body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6f0fa;
    /* 淡いブルー */
    color: #22334d;
    /* 濃いブルーグレー */
}

main {
    padding: 20px;
    background: #fafdff;
    /* ほぼ白に近いブルー */
    color: #22334d;
}